.form-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.login {
  width: 100%;
  background-color: #edb932;
}
a {
  text-decoration: none;
  color: #edb932;
}

.btn-one {
  background-color: #edb932;
  color: white;
}

.btn-one:hover {
  background-color: #d9a31f;
  color: white;
}

@media screen and (max-width: 425px) {
  .form-container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .form-container {
    width: 95%;
    padding: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  input {
    font-size: 0.9rem;
  }

  .btn-one {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .form-container {
    width: 95%;
    padding: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  input {
    font-size: 0.8rem;
  }

  .btn-one {
    font-size: 0.8rem;
  }
}
