* {
  font-family: "Roboto", sans-serif;
}
.Nav {
  justify-content: center;
  text-align: center;
  background-color: #6c6c6c;
  padding: 30px 80px 30px 80px;
}
.NavbarWrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.NavLogo {
  float: left;
  font-size: 25px;
  font-weight: 900;
  margin: -8px 2px 1px 15px;
  transition: 0.2s ease-in;
}
.NavElements {
  display: inline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 200;
  padding: 10px 20px 10px 20px;
}
.cart-icon {
  color: #fafafa;
}
.cart-icon:hover {
  color: #edb932;
}
.NavButton {
  float: right;
  background-color: #edb932;
  border-radius: 20px;
  padding: 8px 20px 8px 20px;
  margin: -5px 2px -5px 2px;
  cursor: pointer;
}
.Link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.Link:hover {
  cursor: pointer;
  color: #edb932;
  border-radius: 20px;
  transition: 0.5ms;
}
.link-register:hover {
  cursor: pointer;
  color: #6c6c6c;
  border-radius: 20px;
  transition: 0.5ms;
}
.active {
  cursor: pointer;
  color: #edb932;
  border-radius: 20px;
  transition: 0.5ms;
}
.cart-icon {
  font-size: 23px;
}
.Icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -16px;
  right: -19px;
  background-color: #edb932;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 1175px) {
  .Nav {
    padding: 25px 0px 25px 20px;
    align-items: center;
  }
  .NavElements {
    display: none;
  }
  .NavButton {
    display: none;
  }
  .Icon {
    display: inline;
    position: relative;
    left: 33%;
  }
  .NavLogo {
    margin: 0;
    transition: 0.2s ease-in-out;
  }
}

.cart-sidebar-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 530px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 0 25px 25px 25px;
  z-index: 1000;
  overflow-y: auto;
}

.cart-sidebar-header {
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
}
.cart-sidebar-header-left p {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 0;
}
.header-right-icon {
  font-size: 35px;
  color: #1a1a1a;
}
.cart-sidebar-middle {
  max-height: calc(100% - 150px);
  overflow-y: auto;
}
.cart-sidebar-middle-left {
  height: 60px;
  display: flex;
  align-items: center;
}
.cart-sidebar-middle-left img {
  width: 80px;
  height: 80px;
  margin: 10px -10px 29px -12px;
  object-fit: cover;
}
.right-top-left p {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 0;
}
.right-top-right-icon {
  font-size: 18px;
  color: red;
}
.right-bottom-left .btn {
  font-size: 10px;
}
.right-bottom-right p {
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
  margin-bottom: 0;
}
.footer-top-left p {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: bold;
}
.footer-top-right p {
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
}
.footer-bottom-top a {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 194px;
  background-color: #edb932;
  border: 1px solid #edb932;
  transition: 0.3s;
}
.footer-bottom-top a:hover {
  color: #fafafa;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.footer-bottom-bottom button {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 194px;
  background-color: #edb932;
  border: 1px solid #edb932;
  transition: 0.3s;
}
.footer-bottom-bottom button:hover {
  color: #fafafa;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.cart-sidebar-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 530px;
  background-color: #fff;
  padding: 15px 25px;
  border-top: 2px solid #ccc;
  border: 2px solid #ccc;
  overflow: hidden; /* Add this line to hide horizontal overflow */
}
.cart-sidebar-footer-top {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
