.all-footer {
  width: 100%;
  background-color: #1a1a1a;
  color: #fafafa;
  padding: 40px 0 40px 0;
}
.all-footer-second {
  border-top: 1px solid #ccc;
  margin-top: 50px;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
ul li {
  margin: 0 0 10px 0;
  font-size: 20px;
  cursor: pointer;
}
.section1-top {
  margin: -27px 0px 0px 0px;
}
.section2-bottom {
  margin-top: 14px;
}
.section3-top h2 {
  font-size: 28px;
}
.section3-top {
  margin-bottom: 25px;
}
.section5-top h2 {
  font-size: 28px;
}
.section5-top {
  margin-bottom: 25px;
}
.section7-top h2 {
  font-size: 28px;
}
.section7-top {
  margin-bottom: 25px;
}
.section8-bottom p {
  font-size: 20px;
  margin-bottom: 11px;
}
.all-footer-second h1,
p {
  font-size: 20px;
  margin: 0;
}
.all-footer-second .footer-second-right a {
  color: #edb932;
  text-decoration: none;
  white-space: nowrap;
}
.all-footer-second {
  padding: 40px 0 0 0;
}
.section8-bottom i.icon-main {
  font-size: 25px;
  cursor: pointer;
  padding: 12px;
  margin: 0 3px 0 0;
  border: 1px solid #ffffff1a;
  background-color: #ffffff1a;
}

@media (max-width: 393px) {
  .all-footer-second .footer-second-right p {
    font-size: 14px;
  }

  .all-footer-second .footer-second-right a {
    font-size: 14px;
    margin-left: 4px;
  }
}

@media (max-width: 375px) {
  .all-footer-second h1,
  .all-footer-second p {
    font-size: 15px;
  }

  .all-footer-second p {
    line-height: 1.4;
    margin: 10px 0;
  }

  .all-footer-second {
    padding: 20px 0;
  }
}

@media (max-width: 320px) {
  .all-footer-second h1,
  .all-footer-second p {
    font-size: 14px;
  }

  .all-footer-second .footer-second-right {
    display: flex;
    justify-content: center;
  }

  .all-footer-second p {
    line-height: 1.4;
    margin: 10px 0;
    text-align: center;
    white-space: nowrap;
  }

  .all-footer-second a {
    white-space: nowrap;
  }
}
