.homesection5-top {
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homesection5-top h2 {
  font-size: 50px;
  color: #1a1a1a;
  font-weight: bold;
}

.homesection5-top a.Link {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #edb932 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0px 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.homesection5-top a.Link:focus {
  box-shadow: #edb932 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #edb932 0 -3px 0 inset;
}

.homesection5-top a.Link:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #edb932 0 -3px 0 inset;
  transform: translateY(-2px);
}

.homesection5-top a.Link:active {
  box-shadow: #edb932 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 1200px) {
  .homesection5-top {
    padding: 30px 50px;
  }
  .homesection5-top h2 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .homesection5-top {
    padding: 30px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .homesection5-top h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .homesection5-top a.Link {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .homesection5-top {
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .homesection5-top h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .homesection5-top a.Link {
    padding: 10px 15px;
  }
}

@media (max-width: 576px) {
  .homesection5-top {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .homesection5-top h2 {
    font-size: 28px;
  }
  .homesection5-top a.Link {
    padding: 8px 10px;
    font-size: 14px;
  }
}

.card {
  margin-bottom: 18px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-body p.single-line11 {
  font-size: 18px;
  font-weight: bolder;
  color: #6c6c6c;
}
.card-body h2.single-line22 {
  font-size: 21px;
  color: #bc9127;
  font-weight: bold;
}

.card-body span {
  font-size: 19px;
  color: #6c6c6c;
}

.icons-container {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px;
  display: none;
}
.card:hover .icons-container {
  display: flex;
  flex-direction: column;
}
.icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  max-height: 80%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  padding: 10px;
  z-index: 1000;
  border-radius: 10px;
}

.modal-content {
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.right-detail span {
  margin: 10px 10px 0 10px;
}

.modal-content h1,
.modal-content h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.modal-content p {
  font-size: 16px;
  color: #6c6c6c;
  line-height: 1.4;
  height: calc(1.4em * 4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: block;
}

.modal-content .btn {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .modal {
    width: 70%;
  }

  .modal-content h1,
  .modal-content h2 {
    font-size: 18px;
  }

  .modal-content p {
    font-size: 15px;
    line-height: 1.3;
    height: calc(1.3em * 4);
  }

  .modal-content .btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
  }

  .modal-content h1,
  .modal-content h2 {
    font-size: 16px;
  }

  .modal-content p {
    font-size: 14px;
    line-height: 1.3;
    height: calc(1.3em * 4);
  }
  .modal-content img {
    max-width: 80%;
  }

  .modal-content .btn {
    font-size: 13px;
    padding: 8px 16px;
  }
}

@media (max-width: 425px) {
  .modal {
    width: 73%;
  }

  .modal-content h1,
  .modal-content h2 {
    font-size: 14px;
  }

  .modal-content p {
    font-size: 13px;
    line-height: 1.2;
    height: calc(1.2em * 4);
  }

  .modal-content img {
    max-width: 70%;
  }

  .modal-content .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
