.homesection7 {
  padding: 90px 80px 70px 80px;
}
.homesection7-top h2 {
  font-size: 50px;
  color: #1a1a1a;
  font-weight: bold;
}
.homesection7-top {
  margin-bottom: 80px;
}
.homesection7 img {
  width: 130px;
}
.homesection7 h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-top: 15px;
}
.homesection7 p {
  font-size: 20px;
  color: #6c6c6c;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .homesection7 {
    padding: 70px 50px 50px;
  }
  .homesection7-top h2 {
    font-size: 42px;
  }
  .homesection7 img {
    width: 120px;
  }
}

@media (max-width: 992px) {
  .homesection7 {
    padding: 60px 30px 40px;
  }
  .homesection7-top h2 {
    font-size: 36px;
  }
  .homesection7 img {
    width: 110px;
  }
  .homesection7 h5 {
    font-size: 18px;
  }
  .homesection7 p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .homesection7 {
    padding: 50px 20px 30px;
  }
  .homesection7-top h2 {
    font-size: 32px;
    text-align: center;
  }
  .homesection7 img {
    width: 100px;
  }
  .homesection7 h5 {
    font-size: 16px;
  }
  .homesection7 p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .homesection7 {
    padding: 40px 10px 20px;
  }
  .homesection7-top h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: -40px;
  }
  .homesection7 img {
    width: 90px;
  }
  .homesection7 h5 {
    font-size: 14px;
  }
  .homesection7 p {
    font-size: 14px;
  }
}
