.homesection2 {
  padding: 30px 80px;
}
.homesection2 .container {
  margin: 0;
  padding: 60px 0;
}
.left2-box {
  max-width: 100%;
  height: auto;
  padding: 0 15px;
}
.left2-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.right2-box {
  padding: 20px 15px;
}
.right2-box span {
  font-size: 16px;
  letter-spacing: 1px;
  color: #bc9127;
}
.right2-box h2 {
  font-size: 40px;
  font-weight: bold;
  color: #1a1a1a;
  margin-top: 30px;
}
.right2-box p {
  font-size: 18px;
  color: #1a1a1a;
  margin-top: 20px;
  margin-bottom: 60px;
}
.right2-box a.Link {
  padding: 10px 30px;
  background-color: #edb932;
  color: #1a1a1a;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
.right2-box a.Link:hover {
  color: #fafafa;
}

@media (max-width: 1200px) {
  .homesection2 {
    padding: 30px 50px;
  }
  .right2-box h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .homesection2 {
    padding: 30px 30px;
  }
  .right2-box h2 {
    font-size: 32px;
  }
  .right2-box p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .right2-box h2 {
    font-size: 28px;
  }
  .right2-box p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .homesection2 {
    padding: 20px;
  }
  .right2-box {
    padding: 10px;
  }
  .right2-box h2 {
    font-size: 24px;
  }
  .right2-box p {
    font-size: 14px;
  }
  .right2-box a.Link {
    padding: 8px 20px;
    font-size: 14px;
  }
}
