.homesection4 {
  width: 100%;
  padding: 20px 0 60px 0;
  box-sizing: border-box; 
}

.img-con {
  display: flex;
  flex-wrap: wrap;
  margin: 0; 
}

.img-con img {
  width: calc(25% - 20px); 
  height: auto;
  margin: 10px; 
}

@media screen and (max-width: 600px) {
  .img-con img {
    width: calc(50% - 20px); 
    margin: 5px; 
  }
}
