.homesection8-right-content {
  padding: 30px 0 0 50px;
}
.homesection8-right-content span {
  font-size: 18px;
  letter-spacing: 1px;
  color: #bc9127;
}
.homesection8-right-content h2 {
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1a1a1a;
  margin-top: 30px;
  margin-bottom: 30px;
}
.homesection8-right-content p {
  font-size: 18px;
  color: #6c6c6c;
}
#basic-addon2 {
  background-color: #edb932;
  color: #ffffff;
}
