.sidebar-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 0 25px 25px 25px;
  z-index: 1000;
}

.products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-top-left a{
  font-size: 18px;
  font-weight: bold;
  color: #1a1a1a;
  padding: 10px 25px;
  background-color: #edb932;
  transition: .3s;
}
.products-top-left a:hover{
  color: #fff;
}
.close-icon {
  text-align: right;
}

a.bars {
  font-size: 50px;
  color: #6c6c6c;
  bottom: 40px;
}

.sidebar-middle p {
  font-size: 30px;
  letter-spacing: 1px;
  color: #6c6c6c;
  font-weight: bold;
}
.sidebar-middle button {
  padding: 10px 25px 10px 25px;
  color: #1a1a1a;
  background-color: #edb932;
  border-color: #edb932;
  font-weight: bold;
}
.sidebar-bottom p {
  font-size: 30px;
  letter-spacing: 1px;
  color: #6c6c6c;
  font-weight: bold;
}

div.mb-3.input-group input.form-control {
  box-shadow: none;
  outline: none;
}

input#stockFilter.form-check-input {
  font-size: 21px;
  box-shadow: none;
}
label.form-check-label {
  font-size: 23px;
  color: #1a1a1a;
  cursor: pointer;
  transition: 0.3s;
}
label.form-check-label:hover {
  color: #edb932;
}
select#sortOptions.form-control {
  box-shadow: none;
  outline: none;
}

.card {
  cursor: pointer;
  display: flex; 
  align-items: center;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%; /* Adjust the second value to control the vertical positioning */
  border-radius: 0; /* Remove the border-radius */
}

.card-body {
  text-align: center;
}
.card-body p {
  font-size: 18px;
  font-weight: bolder;
  color: #6c6c6c;
}
.card-body h2 {
  font-size: 21px;
  color: #bc9127;
  font-weight: bold;
}
.card-body span {
  font-size: 19px;
  color: #6c6c6c;
}

.icons-container {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px;
  display: none;
}
.card:hover .icons-container {
  display: flex;
  flex-direction: column;
}
.icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.minMaxInputContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

input {
  width: 60%;
  margin-top: 5px;
}
